<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>

<header th:fragment="header">

    <div class="header-inner">

        <a th:href="@{/}" class="logo">

            <span class="logo-icon">
                <i class="fa-solid fa-magnifying-glass-location"></i>
            </span>

            FindCampus

        </a>

        <nav class="nav">

            <a th:href="@{/lost/list}">
                분실물
            </a>

            <a th:href="@{/found/list}">
                습득물
            </a>

            <a th:href="@{/search}">
                검색
            </a>

            <a th:href="@{/chat/rooms}">
                채팅
            </a>

            <a th:href="@{/map}">
                지도
            </a>

        </nav>

        <div class="auth">

            <a th:href="@{/notification}" class="header-icon">
                <i class="fa-regular fa-bell"></i>
            </a>

            <a th:href="@{/mypage}" class="header-icon">
                <i class="fa-solid fa-user"></i>
            </a>

            <a th:href="@{/login}" class="login">
                로그인
            </a>

            <a th:href="@{/join}" class="join">
                회원가입
            </a>

        </div>

    </div>

</header>

</body>

</html>
